<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt-auto sets the top margin to auto for the footer. This helps to move the footer to the bottom
        of the body of the page. -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
        <!-- text-muted class to lighten the text color -->
    </div>
</footer>