<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <% if (process.env.NODE_ENV !== 'production' ) { %>
                    <p>
                        <%= err.stack %>
                    </p>
                    <% } %>
                        <!-- We print the error stack trace only in development mode. We keep single sentence errors in
                production when the app is deployed as a precaution to limit the information available to malicious
                users about our app's architecture/codebase and to keep the user experience smooth -->
            </div>
        </div>
    </div>